scikit-learn
matplotlib
numpy
pandas
streamlit
seaborn
streamlit-option-menu
pandas-datareader
mysql-connector
st-supabase-connection
supabase
plotly.express
fuzzywuzzy
wordcloud
streamlit_geolocation
geopy
streamlit_js_eval
streamlit_folium
folium
streamlit_tags
audio_recorder_streamlit
SpeechRecognition
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
openai
groq
torch
txtai